* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 450px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
    background-color: rgba(59, 12, 76, 0.8);
}

#timer {
    font-size: 50px;
    border: none;
    width: 40%;
    display: block;
    text-align: center;
   background-color:  rgba(59, 12, 76, 0.1);
   border-radius: 12px;
   margin: auto;
   color: white;
   margin-bottom: 10px;
}

#start {
    font-size: 18px;
    padding: 4px 8px;
    background-color: rgb(2, 64, 64);
    color: white;
}