* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 650px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
    background-color: rgba(59, 12, 76, 0.8);
    position: relative;
}
.timer-container {
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: auto; 
    transition: all 1s ease;
}
.top-right {
    position: absolute;
    top: 10px; 
    right: 0; 
    transform: none;
}

#timer {
    font-size: 50px;
    border: none;
    width: 40%;
    display: block;
    text-align: center;
   background-color:  rgba(59, 12, 76, 0.1);
   border-radius: 12px;
   margin: auto;
   color: white;
   margin-bottom: 10px;
   transition: font-size 1s ease;
}

#start, #submit {
    font-size: 18px;
    padding: 4px 8px;
    background-color: rgb(2, 64, 64);
    color: white;
}

#start:hover, #submit:hover {
    background-color: rgb(3, 107, 107) ;
    color: white;
}
.start-message {
    color: white;
    margin-top: 20px;
}
.question-section {
    color: white;
    margin-top: 20px;
    display: none;
    margin-bottom: 20px;
}
.question {
    font-weight: bold;
}

.answers {
    list-style-type: none;
    padding: 0;
}

.answers li {
    margin: 5px 0;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}
.next-button {
    margin-top: 30px;
    padding: 4px 12px;
    background-color: rgb(3, 71, 71);
    color: white;
    border: none;
    border-radius: 5px;
}
.next-button:hover {
    background-color: rgb(3, 107, 107) ;
}